<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>

        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="jumbotron">
                <h1>This is great</h1>
                <p>Welcome to templating using EJS</p>
            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>
        <!-- jQuery first, then Bootstrap JS. -->
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>
